Case5356/src/test/resources/case5356-functional-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:client="http://www.mulesoft.org/schema/mule/client"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:management="http://www.mulesoft.org/schema/mule/management"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:sxc="http://www.mulesoft.org/schema/mule/sxc"
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/3.3/mule-test.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.3/mule-file.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.3/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/3.3/mule-jdbc.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.3/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/3.3/mule-client.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.3/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/management http://www.mulesoft.org/schema/mule/management/3.3/mule-management.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.3/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/sxc http://www.mulesoft.org/schema/mule/sxc/3.3/mule-sxc.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.3/mule-xml.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!--
    TODO: You can define a test configuration here then from the Case5356TestCase you can fire events into
    Mule (using the MuleClient) and then assert the results.
    -->
    <message-properties-transformer name="setIDAndCorrelation">
        <add-message-property key="MULE_CORRELATION_ID" value="#[payload.getId().toString()]" />
        <add-message-property key="MULE_CORRELATION_GROUP_SIZE" value="2" />
    </message-properties-transformer>

    <flow name="entryOne">
        <vm:inbound-endpoint path="entryOneVM" />

        <transformer ref="setIDAndCorrelation" />

        <vm:outbound-endpoint path="commonProcessVM"/>
    </flow>

    <flow name="entryTwo">
        <vm:inbound-endpoint path="entryTwoVM" />

        <transformer ref="setIDAndCorrelation" />

        <vm:outbound-endpoint path="commonProcessVM"/>
    </flow>

    <flow name="commonProcess">
        <vm:inbound-endpoint path="commonProcessVM" />
        <collection-aggregator />

        <!-- at this point the payload will be a collection of messages, we'll need to iterate the collection and create a new payload -->
        <foreach>
            <!-- set the payload in a flowVar -->
            <set-variable variableName="newPayload" value="#[flowVars['newPayload'] == null ? payload.getName() : flowVars['newPayload'] + ' ' + payload.getName()]" />
        </foreach>

        <expression-transformer expression="flowVars['newPayload']" />

        <logger level="INFO" message="#[payload]" />

        <vm:outbound-endpoint path="out" />
    </flow>

</mule>
