TestCase/target/testcase-1.0-SNAPSHOT/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:client="http://www.mulesoft.org/schema/mule/client"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:management="http://www.mulesoft.org/schema/mule/management"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:sxc="http://www.mulesoft.org/schema/mule/sxc"
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/3.2/mule-test.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/3.2/mule-jdbc.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.2/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/3.2/mule-client.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/management http://www.mulesoft.org/schema/mule/management/3.2/mule-management.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/sxc http://www.mulesoft.org/schema/mule/sxc/3.2/mule-sxc.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/4.0/mule-sfdc.xsd">

    <sfdc:config name="Salesforce" username="hackathon.user@mulesoft.com.dev" password="Muleftw1"
                 securityToken="L9hLuVIlQHCylNtBe3cclW6S"
                 url="https://test.salesforce.com/services/Soap/u/24.0" />
    <!--    <flow name="main">
       <vm:inbound-endpoint path="in"/>

       <sfdc:publish-topic name="AccountUpdates" query="SELECT Id, Phone, Name FROM Account"/>

       <vm:outbound-endpoint path="out" />

   </flow> -->

    <flow name="test" >
        <sfdc:subscribe-topic topic="AccountUpdates" />

        <logger level="INFO" message="UPDATE: #[payload]" />

    </flow>

    <flow name="updateFlow" >
        <http:inbound-endpoint address="http://localhost:9999/test" />

        <sfdc:query query="SELECT Id, Phone, Name FROM Account" />

        <logger level="INFO" message="#[payload]" />

        <collection-splitter />

        <vm:outbound-endpoint path="updateSFDC" />

    </flow>

    <flow name="updateSFDC" >
        <vm:inbound-endpoint path="updateSFDC" />
        <scripting:transformer >
            <scripting:script engine="groovy" file="">
                <scripting:text>
                    payload.put('Phone', '222');
                    return payload;
                </scripting:text>
            </scripting:script>
        </scripting:transformer>
        <logger level="INFO" message="PAYLOAD: #[payload]" />

        <sfdc:update type="Account">
            <sfdc:objects  >
                <sfdc:object>
                    <sfdc:inner-object key="Id" value-ref="#[map-payload:Id]" />
                    <sfdc:inner-object key="Phone" value-ref="#[map-payload:Phone]" />
                </sfdc:object>
            </sfdc:objects>
        </sfdc:update>
        <logger level="INFO" message="PAYLOAD: #[payload]" />

    </flow>
</mule>
